.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
}

.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
  font-weight: unset;
}

.input_Field {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.error {
  color: red;
  font-weight: 600;
}

#background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: #023366;
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .login {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 75%;
    text-align: center;
    margin-left: auto important;
    height: 300px;
  }
}
